* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body{
    background: #efefef;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1876f2;
    padding: 5px 5%;
}

.logo {
    width: 160px;
    margin-right: 45px;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.nav-left ul li {
    list-style: none;
    display: inline-block;
}

.nav-left ul li {
    width: 28px;
    margin: 0 15px;
}

.nav-user-icon img {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.search-box {
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.search-box img {
    width: 18px;
}



